<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assigment2.Properties.Settings.BookingConnectionString"
            connectionString="Data Source=tp043087.database.windows.net;Initial Catalog=Booking;User ID=AhmedKhalil;Password=tP.043087"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
</configuration>
